*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
    text-decoration: none;
}
body{
    background-color: #FED900;
}
.wrap{
    width: 805px;
    height: 100vh;
    background-color: #fff;
    margin: 0 auto;
}
.mainViewContainer{
    color: #000;
    margin: 0 auto;
    background: #fff url(../images/mainSlide01.png) no-repeat center/contain;
}
.managerMenu{
    margin-bottom: 580px;
}
.managerMenu .managerBtn{
    width: 50px;
}
.mainBtn{
    text-align: center;
}
.mainBtn button{
    background-color: #FED900;
    border: none;
    width: 260px;
    height: 260px;
    border-radius: 50px;
    font-size: 50px;
    font-weight: bold;
    cursor: pointer;
    margin-left: 50px;
}
.mainBtn button:hover{
    background-color: #31160B;
    color: #fff;
}

/* 헤더 */
header{
    width: 100%;
    height: 183px;
    background-color: #31160B;
    /* display: flex; */
    /* justify-content: space-between; */
    /* align-items: center; */
    padding: 0 15px;
}
header .headerBoxOne{
    width: 100%;
    /* background-color: aquamarine; */
    /* height: 50px; */
}
header .headerBoxOne img{
    width: 270px;
    display: block;
    /* background-color: pink; */
    margin: 0 auto;
    padding-top: 8px;
}
header .headerBoxTwo{
    display: flex;
    width: 100%;
    /* background-color: seagreen; */
    /* height: 50px; */
}
header .headerBoxTwo a.home{
    width: 8%;
    display: block;
    margin-top: 15px;
    margin-right: 10px;
}
header .headerBoxTwo a.home img {
    width: 50px;
}
header .headerBoxTwo  ul{
    display: flex;
    justify-content: space-between;
    /* padding: 10px 0 0 0; */
}
header .headerBoxTwo ul li{
    text-align: center;
    margin: 0 2px;
}


header .headerBoxTwo ul li a{
    width: 140px;
    height: 75px;
    background: #5e2d1a;
    /* background: #52200d; */
    line-height: 80px;
    display: block;
    font-size: 20px;
    color: #fff;
    border-radius: 15px 15px 0 0;
}

.active {
    background-color: #fff; /* 배경색 변경 */
    color: #000;
}
